.create-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}
.create-item{
    display: flex;
    font-size: 20px;
    align-items: center;
}
.create-item-title{
    margin: 0 16px 0 10px;
    min-width: 80px;
    
}
.create-item span{
    color: var(--text-1-color);
    min-width: 300px;
    font-weight: 600;
}
.create-btn{
    background-color: rgb(70, 42, 223);
    padding: 10px 24px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s ease;
}
.create-btn:hover{
    background-color: #6a67ea;
    cursor: pointer;
}
.create-select-type-money{
    position: relative;
}
.type-money-item{
    display: flex;
    align-items: center;
}
.type-money-item img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 6px;
}
